In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [2]:
# load trained model,scaled pickle, onehot, labelencoder

model = load_model('model.h5')
with open('label_encoded_gender.pkl','rb') as file:
    label_encoded_gender = pickle.load(file)
with open('onehot_encoded_geo.pkl','rb') as file:
    onehot_encoded_geo = pickle.load(file)
with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [3]:
#example input data
input_data ={
    'CreditScore' : 600,
    'Geography' : 'France',
    'Gender' : 'Male',
    'Age' : 40,
    'Tenure' : 3,
    'Balance' : 6000000,
    'NumOfProducts' : 2,
    'HasCrCard' : 1,
    'IsActiveMember' : 1,
    'EstimatedSalary' : 50000
}

In [5]:
#label encodeer
# input_data['Gender'] =  label_encoded_gender.transform(input_data['Gender'])

In [10]:
# onehot encoder geo
geo_encoder = onehot_encoded_geo.transform([[input_data['Geography']]]).toarray()
geo_encoder_df = pd.DataFrame(geo_encoder,columns=onehot_encoded_geo.get_feature_names_out(['Geography']))

c:\Users\ps620092\Documents\ANNclassificationChurn\myevn\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [14]:
input_df = pd.DataFrame([input_data])
input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [24]:
input_df['Gender'] = label_encoded_gender.transform(input_df['Gender'])
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [25]:
## concatination one hot encoded
input_df = pd.concat([input_df.drop('Geography',axis=1),geo_encoder_df],axis=1)
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [26]:
# Scaling the input data
input_scaled = scaler.transform(input_df)

In [27]:
# prediciton
prediciton = model.predict(input_scaled)
prediciton

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 86ms/step

array([[1.]], dtype=float32)

In [29]:
## prediction probability
prediction_prob = prediciton[0][0]
prediction_prob

np.float32(1.0)

In [30]:
if prediction_prob > 0.5:
    print('The customer is likely to churn')
else: print('The customer is not likely to churn')

The customer is likely to churn